body{
  background-color: #e1e5ea;
}
hr{

  border-width: 5px;
  border-style: dotted none none;
  border-color:grey;
  width: 5%;

}
h1{
  color: #66BFBF;

}
h3{
  color:#66BFBF;
}
